@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

/* Keyframe */
@keyframes fade-right {
  0% {
    opacity: 0;
    transform: translateX(-100px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}

@keyframes fade-left {
  0% {
    opacity: 0;
    transform: translateX(100px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}
@keyframes fade-left-shadow {
  0% {
    opacity: 0;
    transform: translateX(100px) scale(0.9);
  }
  100% {
    opacity: 15%;
    transform: translateX(0px) scale(1);
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(100px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-100px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@keyframes fade-scale {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fade-web {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* Carousel */
.carousel {
  width: 100%;
  height: 100vh;
  margin-top: -100px;
  position: relative;
  z-index: -1;
}

.carousel .item {
  position: absolute;
  inset: 0 0 0 0;
}

.carousel .item .gambar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel_button {
  z-index: 100;
}

.content {
  position: absolute;
  top: 40%;
  left: 10%;
}

.content h1 {
  font-size: 75pt;
  font-weight: bold;
  margin-bottom: 30px;
  animation: fade-right 1s;
}

.content .show-more {
  animation: fade-right 2s;
}

.content span {
  font-weight: 500;
  font-size: 15pt;
  margin: 0 0 0 18px;
}

.carousel_button {
  position: absolute;
  bottom: 10%;
  right: 10%;
}

/* CSS 3D Modeling  */

.modeling {
  width: 80%;
  height: 320px;
  left: 10%;
  right: 10%;
}

.modeling .project {
  width: 30%;
  height: 320px;
}

.modeling .project .title {
  width: 500px;
  height: 80%;
}

.modeling .project .title h1 {
  color: #303030;
  font-weight: bold;
  font-size: 30pt;
  margin-bottom: 15px;
  animation: fade-right linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.modeling .project .title a span {
  color: #303030;
  font-weight: 500;
  font-size: 15pt;
  margin: 0 0 0 18px;
}

.modeling .project .title .show-more {
  animation: fade-right linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.modeling .project .tools {
  width: 500px;
  height: 20%;
}

.modeling .project .tools h1 {
  color: #303030;
  font-weight: bold;
  font-size: 15pt;
  animation: fade-right linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

.modeling .project .tools .gambar {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  object-fit: cover;
  animation: fade-up linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

.modeling .project .tools .gambar2 {
  width: 137px;
  height: 40px;
  border-radius: 10px;
  object-fit: cover;
  animation: fade-up linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

.modeling .thumbnail {
  width: 70%;
  height: 320px;
  border-radius: 15px;
  animation: fade-left linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

.modeling .thumbnail .gambar {
  width: 100%;
  height: 320px;
  object-fit: cover;
  border-radius: 15px;
}

/* Design Graphic */
.graphic {
  width: 80%;
  height: 435px;
  position: relative;
}

.graphic .gambar {
  position: absolute;
  object-fit: cover;
  z-index: -100;
  animation: fade-scale linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

.graphic .project2 {
  height: 435px;
}

.graphic .project2 .tools {
  width: 40%;
  height: 20%;
  top: 90%;
  position: absolute;
}

.graphic .project2 .tools h1 {
  color: #303030;
  font-weight: bold;
  font-size: 15pt;
  animation: fade-right linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

.graphic .project2 .tools-gambar .gambar {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  object-fit: cover;
  animation: fade-up linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

.graphic .project2 .tools-gambar .gambar2 {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  object-fit: cover;
  animation: fade-up linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

.graphic .project2 .title {
  width: 40%;
  height: 25%;
  right: 0%;
  position: absolute;
}

.graphic .project2 .title h1 {
  position: relative;
  color: #303030;
  font-weight: bold;
  font-size: 30pt;
  margin-bottom: 15px;
  animation: fade-left linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

.graphic .project2 .title a span {
  position: relative;
  color: #303030;
  font-weight: 500;
  font-size: 15pt;
  margin: 0 0 0 18px;
}

.graphic .project2 .title .show-more {
  animation: fade-left linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

/* Web Devlopment */

.web {
  /* background-color: black; */
  width: 80%;
  height: 335px;
  position: relative;
}

.web .gambar {
  position: absolute;
  width: 100%;
  height: 335px;
  object-fit: cover;
  border-radius: 15px;
  z-index: -100;
}

.web .gambar .gambar_web {
  width: 100%;
  height: 335px;
  object-fit: cover;
  border-radius: 15px;
  z-index: -10;
  animation: fade-web linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

.web .project3 .title {
  width: 500px;
  height: 65%;
}

.web .project3 .title h1 {
  font-weight: bold;
  font-size: 30pt;
  margin-bottom: 15px;
  animation: fade-right linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

.web .project3 .title span {
  font-weight: 500;
  font-size: 15pt;
  margin: 0 0 0 18px;
}

.web .project3 .tools {
  width: 500px;
  height: 20%;
}

.web .project3 .tools h1 {
  font-weight: bold;
  font-size: 15pt;
  animation: fade-right linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

.web .project3 .tools .gambar {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  object-fit: cover;
  animation: fade-left linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

.web .project3 .tools .gambar2 {
  border-radius: 15px;
  animation: fade-left linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

.web .project3 .title .show-more {
  animation: fade-right linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

.web-text h2 {
  font-family: 'Poppins';
  font-size: 14pt;
  font-weight: bold;
}

.web-text p {
  font-family: 'Poppins';
  font-size: 9pt;
  font-weight: 400;
  color: #303030;
  opacity: 80%;
}

/* Contact */

.contact {
  width: 80%;
  height: 560px;
}

.contact .title h1 {
  font-size: 90pt;
  font-weight: bold;
  opacity: 50%;
}
.contact h2 {
  animation: fade-right linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

.contact h3 {
  animation: fade-right linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

.contact label {
  animation: fade-right linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

.contact p {
  animation: fade-right linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

.contact svg {
  animation: fade-right linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

.contact .send {
  animation: fade-right linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

.contact .gambar {
  animation: fade-right linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

/* Footer */
.footer {
  width: 100%;
  height: 210px;
  position: relative;
  justify-content: center;
}

.footer .logo {
  position: absolute;
  left: 0;
}

.footer span {
  position: absolute;
  bottom: 10%;
}

/* Portfolio */

.banner {
  position: relative;
  z-index: -1;
}

.banner h1 {
  font-size: 270pt;
  position: absolute;
  font-family: "Poppins";
  font-weight: bold;
  text-align: center;
  color: white;
  z-index: -1;
  animation: fade-right 1s;
}

.banner .shadow h1 {
  font-size: 270pt;
  font-family: "Poppins";
  font-weight: bold;
  position: absolute;
  margin-top: 40px;
  text-align: center;
  color: white;
  opacity: 15%;
  animation: fade-left-shadow 2s;
}

.menu-portfolio {
  position: relative;
  margin-top: -100px;
  animation: fade-scale 2s;
}

.page-right-port {
  z-index: 100;
}

.image-port-3d {
  object-fit: cover;
  z-index: -1;
}

.portfolio-3D h1{
  font-size: 100pt;
  font-family: "Poppins";
  font-weight: bold;
  color: white;
  z-index: -1;
  animation: fade-right 1s;
}

.portfolio-3D .shadow h1 {
  font-size: 100pt;
  font-family: "Poppins";
  font-weight: bold;
  color: white;
  opacity: 15%;
  animation: fade-left-shadow 2s;
}

.right-part {
  position: fixed;
  display: inline-block;
  right: 50%;
}

.background-cover {
  background-color: #BAD3CB;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -10;
}

/* About me */

.about h1 {
  font-size: 150pt;
  position: absolute;
  font-family: "Poppins";
  font-weight: bold;
  text-align: center;
  color: white;
  top: 240px;
  margin-left: 500px;
  animation: fade-right 1s;
}

.about h2 {
  color: #617871;
  font-family: "Poppins";
  font-weight: bold;
  animation: fade-right 2s;
}

.about p {
  color: #617871;
  font-family: "Poppins";
  font-weight: 300;
  font-size: 14pt;
  animation: fade-right 3s;
}

.about .shadow h1 {
  font-size: 150pt;
  font-family: "Poppins";
  font-weight: bold;
  position: absolute;
  margin-left: 330px;
  margin-top: 40px;
  text-align: center;
  color: white;
  opacity: 15%;
  animation: fade-left-shadow 1s;
}

.about .gambar {
  animation: fade-right 3s;
}

/* Contact-page */

.contact-page {
  width: 80%;
  height: 560px;
}

.contact-page .title h1 {
  font-size: 90pt;
  font-weight: bold;
  opacity: 50%;  
}
.contact-page h2 {
  animation: fade-right 2s;
}

.contact-page .info h1 {
  animation: fade-right 2s;
}

.contact-page h3 {
  animation: fade-right 3s;
}

.contact-page label {
  animation: fade-right 1s;
}

.contact-page p {
  animation: fade-right 3s;
}

.contact-page svg {
  animation: fade-right 4s;
}

.contact-page .send {
  animation: fade-right 2s;
}

.contact-page .gambar {
  animation: fade-right 2s;
}


